body {
    margin: 5;
    padding: 0;
    font-family: Roboto;
}

.imageLogo {
    height: 18;
     width: 25;
}

.textBorder_class:hover {
    background-color: #2a2f35;
    border: "1px #ed1212 solid";
    cursor: pointer;
  }
  .textBorder_classtext:hover{
    background-color: #b7c500;
    border: "1px #red solid";
    cursor: pointer;
  }